* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    max-width: 100vw;
    width: 95vw;
    height: 90vh;
    padding: 1rem;
    margin: 0.7rem auto;
    border: .1rem solid #ccc;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-shadow: 0rem 0.2rem .5rem 0.09rem #ddd;
}

h1 {
    font-size: 2rem;
    align-self: flex-start;
    margin: 0 0 3rem 0;
}

section {
    width: 100%;
    display: flex;
    gap: 1rem;
}

aside {
    flex: 0.6;
    padding: 0.3rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entradaDoFormulario {
    display: flex;
    gap: 0.3rem;
}

label {
    width: 7rem;
}

input {
    flex: 1;
    padding: 0.4rem;
    font-size: 1rem;
    border: .1rem solid #ccc;
    border-radius: 0.2rem;
}

input[type="checkbox"] {
    flex: 0;
    cursor: pointer;
}

button {
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    background-color: blue;
    color: #ddd;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.2rem;
}

button:hover {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

#meu-calendario {
    margin: 0 auto;
    flex: 1.7;
}

/* Forçar títulos das colunas do calendário a ocuparem uma linha 
   e adicionarem reticências se o texto for muito longo.
*/
.fc-col-header-cell { /* Seleciona as células do cabeçalho das colunas no calendário. */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas. */
    overflow: hidden; /* Oculta o texto que ultrapassa o limite da célula. */
    text-overflow: ellipsis; /* Adiciona reticências (...) se o texto for muito longo. */
}

/* Forçar colunas do calendário a terem a mesma largura */
.fc-daygrid-col,
.fc-timegrid-col {
    width: 100% !important;
    flex: 1 !important;
}