* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 50vw;
    height: 90vh;
    padding: 1rem;
    margin: 0.7rem auto;
    border: .1rem solid #ccc;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-shadow: 0rem 0.2rem .5rem 0.09rem #ddd;
}

h1 {
    font-size: 2rem;
    align-self: flex-start;
    margin: 0 0 3rem 0;
}

#meu-calendario {
   margin: 0 auto;
   width: 100%;
}

/* Forçar títulos das colunas do calendário a ocuparem uma linha 
   e adicionarem reticências se o texto for muito longo.
*/
.fc-col-header-cell { /* Seleciona as células do cabeçalho das colunas no calendário. */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas. */
    overflow: hidden; /* Oculta o texto que ultrapassa o limite da célula. */
    text-overflow: ellipsis; /* Adiciona reticências (...) se o texto for muito longo. */
}

/* Forçar colunas do calendário a terem a mesma largura */
.fc-daygrid-col,
.fc-timegrid-col {
    width: 100% !important;
    flex: 1 !important;
}